html,
body {
	background: #fffaf7;
	color: #2d2d2d;
	font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}
a,
a:visited {
	color: darkred;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
main {
	margin: auto;
	max-width: 60rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding: 1rem;
}
td {
	border: 1px solid #2d2d2d;
	padding: 10px;
}
img {
	height: auto;
	max-width: 100%;
}
@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}
